<div class="col-md-2" id="read-nav">
    <form class="form-horizontal">
        <div class="form-group">
            <input type="search"
                   placeholder="Content search"
                   class="form-control"
                   ng-model="search.textToSearch"
                   ng-change="search.searchContent()" />
        </div>
        <div class="form-group">
            <select class="form-control"
                    ng-model="read.version"
                    ng-options="version.Code for version in read.versions"></select>
        </div>
        <div class="form-group">
            <select class="form-control"
                    ng-model="read.testament"
                    ng-options="testament.Description for testament in read.testaments"></select>
        </div>
        <div class="form-group">
            <select class="form-control"
                    ng-model="read.book"
                    ng-options="book.Description for book in read.books"></select>
        </div>
        <div class="form-group">
            <select class="form-control"
                    ng-model="read.chapter"
                    ng-options="chap for chap in read.chapters"></select>
        </div>
        <div class="form-group">
            <select class="form-control"
                    ng-model="read.paragraphMin"
                    ng-change="updateContent()"
                    ng-options="par for par in read.paragraphs"></select>
        </div>
        <div class="form-group">
            <select class="form-control"
                    ng-model="read.paragraphMax"
                    ng-change="updateContent()"
                    ng-options="par for par in read.paragraphs"></select>
        </div>
    </form>
</div>

<div class="col-md-6" ng-show="!search.textToSearch || search.textToSearch.length < 1" ng-controller="TableReadController">
    <h3>
        <span class="glyphicon glyphicon-fast-backward" ng-click="prevBook()"></span>
        <span class="glyphicon glyphicon-chevron-left" ng-click="prevChapter()"></span>
        {{ read.book.Description }} {{ read.chapter }},{{ read.paragraphMin }}-{{ read.paragraphMax }}
        <span class="glyphicon glyphicon-chevron-right" ng-click="nextChapter()"></span>
        <span class="glyphicon glyphicon-fast-forward" ng-click="nextBook()"></span>
    </h3>
    <table ng-table="tableRead" class="table ng-table-rowselected">
        <thead>
        </thead>
        <tbody>
            <tr ng-repeat="model in $data"
                ng-click="changeVerseSelected(model)"
                ng-class="{'active': model.$selected}">
                <td>
                    <span>{{ model.Content }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-6" ng-show="search.textToSearch.length > 0" ng-controller="TableSearchController">
    <h3>
        Search Results
    </h3>
    <table ng-table="tableSearch" class="table ng-table-rowselected">
        <thead>
        </thead>
        <tbody>
            <tr ng-repeat="model in $data"
                ng-click="changeResultSelected(model)"
                ng-class="{'active': model.$selected}">
                <td>
                    <span><b>{{ model.BookId }}</b></span>
                </td>
                <td>
                    <span>{{ model.Content }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-4" ng-controller="TabController">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" data-target="#tab-note" href="">Note</a>
        </li>
        <li>
            <a data-target="#tab-related" data-toggle="tab" href="">Related</a>
        </li>
        <li>
            <a data-target="#tab-dico" data-toggle="tab" href="">Dico</a>
        </li>
        <li>
            <a data-target="#tab-explication" data-toggle="tab" href="">Explication</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-note">
            <div ng-if="dtoNote.MyNote == null">
                <span ng-if="read.selected == null">
                    Please select a verse you wish to view a note.
                </span>
                <span ng-if="read.selected != null">
                    You don't have a note on this verse. Click
                    <a ng-href="#/note/add/{{ read.selected.Id }}" href="">here</a>
                    if you want to add a note for this verse
                </span>
            </div>
            
            <div ng-if="dtoNote.MyNote != null" class="note">
                <h4>
                    <strong>
                        <ins>{{ dtoNote.MyNote.Description }}</ins>
                        <a ng-href="#/note/edit/{{ read.selected.Id }}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </strong>
                </h4>
                <div ng-bind-html="dtoNote.MyNote.Content"></div>
                <span ng-repeat="tag in dtoNote.MyNote.TagIdList"><span class="badge">{{ tag }}</span>&nbsp;</span>
                <br />
                <i class="author">By {{ dtoNote.MyNote.CreatedBy }}</i>
            </div>

            <div ng-repeat="note in dtoNote.OtherNotes" class="note">
                <h4><strong><ins>{{ note.Description }}</ins></strong></h4>
                <div ng-bind-html="note.Content"></div>
                <span ng-repeat="tag in note.TagIdList"><span class="badge">{{ tag }}</span>&nbsp;</span>
                <br />
                <i class="author">By {{ note.CreatedBy }}</i>
            </div>
        </div>
        <div class="tab-pane" id="tab-related">
            <p>This is the page content for Tab Pa fqds fds fdqfs fds fsf ge 2</p>
        </div>
        <div class="tab-pane" id="tab-dico">
            <p>This fdffffffffdf sdq fdsqf dsqf fqsd fdsqf dsfq ffffff</p>
        </div>
        <div class="tab-pane" id="tab-explication">
            <p>zz zzz z dkfjqmsdklddddd dd</p>
        </div>
    </div>

</div>
