body {
    font-family: monospace;
}

#account a {
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
    font-family: monospace;
}

#account a:hover {
    text-decoration: none;
    color: black;
}

#menu {
    padding-left: 0;
}

#menu a {
    cursor: pointer;
    color: #989898;
    text-transform: uppercase;
    margin-right: 20px;
    font-family: "Rockwell Extra Bold";
    font-size: 15pt;
}

#menu a.selected {
    font-size: 30pt;
    border-bottom-color: #989898;
    border-bottom-width: thin;
    border-bottom-style: solid;
}

#menu a:hover {
    text-decoration: none;
    color: black;
}

table.ng-table th {
    text-align: left;
}

.ng-table-rowselected tr {
    cursor: pointer;
}

.navbar-default {
    background-color: transparent !important;
    margin: 1px;
    text-transform: uppercase;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.navbar {
    border-radius: 2px !important;
}

#read-nav {
    margin-top: 25px;
}

.expander {
    border: 1px solid black;
    width: 250px;
}

.expander > .title {
    background-color: gray;
    color: white;
    padding: .1em .3em;
    cursor: pointer;
}

.expander > .body {
    padding: .1em .3em;
}

.closed {
    display: none;
}

a.dropdown-toggle {
    color: gray;
}

.form-horizontal .form-group {
    margin-left: 0;
}

.glyphicon {
    cursor: pointer;
}

[contenteditable="true"] {
    height: 250px;
    overflow-y: auto;
}

[ng-model='agenda.Text'] [contenteditable="true"] {
    height: 550px;
    overflow-y: auto;
    margin-bottom: 10px;
}

[ng-model='treaty.Text'] [contenteditable="true"] {
    height: 450px;
    overflow-y: auto;
    margin-bottom: 10px;
}

[ng-model='explication.Content'] [contenteditable="true"] {
    height: 450px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.note {
    border-width: 1px;
    border-color: black;
    border-style: dotted;
    border-radius: 5px;
    padding: 3px;
    font-size: 90%;
    margin-top: 10px;
    margin-bottom: 45px;
}

.tweet {
    border-width: 1px;
    border-color: black;
    border-style: dotted;
    border-radius: 5px;
    padding: 3px;
    font-size: 90%;
    margin-top: 10px;
    margin-bottom: 0;
}

.author {
    float: right;
}

.actions {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.actions.rigth {
    float: right;
}

.culture {
    font-weight: bold;
    font-size: 85%;
    font-style: italic;
    color: gray;
}

.meaning {
    margin-top: 40px;
}

.btn-group-small {
    margin-bottom: 25px;
}

.treaty-badge {
    margin-bottom: 25px;
}

.treaty-badge span {
    font-size: 13px;
}

blockquote {
    font-size: 14.5px !important;
}

#activity {
    margin-top: 30px;
}

#activity li a {
    font-size: 12px;
}

.nav-tabs a {
    color: black;
}

.activity {
    font-size: 12px;
}

.resizable {
    height: 475px;
    overflow: auto;
    max-width: 304px;
    max-height: 500px;
}

.over {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    margin-bottom: -10px;
}

.table > tbody + tbody {
    border-top: 3px solid #ddd;
}

span.title-detail {
    font-size: 16px;
}

span.text-detail {
    font-size: 11px;
    color: gray;
}

.panel-heading {
    padding: 5px;
}

.list-sidebar {
    margin-top: 20px;
}

.activity .panel-body {
    padding: 0;
}

.activity .ng-table {
    margin-bottom: 0;
}

.operation {
    margin-bottom: -40px !important;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

.citation {
    font-size: 9pt;
}

.btn-actions {
    margin-top: 50px;
    margin-bottom: 100px;
}

.activity-general {
    padding: 0px !important;
}

span.error {
    color: red;
}

.authoring {
    font-size: 10px;
    float: right;
}

.form-group.chat {
    width: 100%;
}

.form-control.chat {
    width: 94%;
}

.chat .btn-success {
    margin-left: -15px;
}

.date {
    font-style: italic;
    font-size: 8pt;
}

.notseen {
    background-color: beige;
}

tr.message {
    cursor: pointer;
}

div.status {
    position: relative;
    top: -5px;
    float: right;
}

span.status {
    font-weight: 900;
    font-size: 0px;
    border-color: green;
    border-width: 7px;
    border-style: solid;
    border-radius: 36px;
    margin-top: 23px;
}

span.status.inactive {
    border-color: red;
}

span.status.active {
    border-color: green;
}

.other-meaning {
    margin-top: 0;
    font-weight: bold;
}

.other-meanings .description {
    text-decoration: underline;
}

@keyframes slideOutRight {
    to {
        transform: translateX(100%);
    }
}

@-moz-keyframes slideOutRight {
    to {
        -moz-transform: translateX(100%);
    }
}

@-webkit-keyframes slideOutRight {
    to {
        -webkit-transform: translateX(100%);
    }
}

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInLeft {
    from {
        -moz-transform: translateX(-100%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

.master-view.ng-enter {
    z-index: 1;
    -webkit-animation: slideInLeft 0.25s both linear;
    -moz-animation: slideInLeft 0.25s both linear;
    animation: slideInLeft 0.25s both linear;
}

.master-view.ng-leave {
    -webkit-animation: slideOutLeft 0.25s both linear;
    -moz-animation: slideOutLeft 0.25s both linear;
    animation: slideOutLeft 0.25s both linear;
}

.detail-view.ng-enter {
    z-index: 1;
    -webkit-animation: slideInRight 0.25s both linear;
    -moz-animation: slideInRight 0.25s both linear;
    animation: slideInRight 0.25s both linear;
}

.detail-view.ng-leave {
    -webkit-animation: slideOutRight 0.25s both linear;
    -moz-animation: slideOutRight 0.25s both linear;
    animation: slideOutRight 0.25s both linear;
}

.form-group.search {
    margin-bottom: 6px !important;
    margin-top: -20px !important;
}

.language {
    margin-top: 6px;
    margin-bottom: -20px;
}

.actions.fixed {
    position: absolute;
    top: 200px;
}