<div class="col-md-2">
    <h3>Citations</h3>
    <table ng-table="tableCitations" class="table ng-table-rowselected">
        <thead></thead>
        <tbody>
            <tr ng-repeat="citation in $data">
                <td>
                    <blockquote>
                        <p class="citation">{{ citation.text }}</p>
                        <footer>Author
                            <cite title="Source Title">{{ citation.author }}</cite>
                        </footer>
                    </blockquote>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <h3 style="text-align: center;">{{ new.Title }}</h3>
    <div ng-bind-html="new.Content"></div>
   <div class="authoring">
        written by <span class="badge">{{ ::new.CreatedBy }}</span> On <span class="badge">{{ ::new.Date|fullDate }}</span>
    </div>
    <form class="form-horizontal btn-actions">
        <div class="btn-left">
            <a class="btn btn-default" ng-href="#/news">Back to list</a>
        </div>
        <div class="btn-right">
            <a class="btn btn-primary" ng-click="promptDelete(new)">Delete</a>
            <a class="btn btn-success" ng-href="#/news/edit/{{ new._id }}" ng-disabled="new._id == undefined">Edit</a>
        </div>
    </form>
</div>
<div class="col-md-4 list-sidebar">
    <div class="panel panel-default activity" ng-if="sameDate.length">
        <div class="panel-heading">News in the same date</div>
        <div class="panel-body">
            <table ng-table="tableSameDate" class="table operation">
                <thead></thead>
                <tbody>
                    <tr ng-repeat="model in $data">
                        <td>
                            <span class="activity">
                                <a href="#/news/detail/{{ model._id }}">{{ model.Title|cut }}</a> on {{ model.Date|fullDate }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default activity" ng-if="tweets.length">
        <div class="panel-heading">Tweets in the same date</div>
        <div class="panel-body">
            <table ng-table="tableTweets" class="table operation">
                <thead>
                </thead>
                <tbody>
                    <tr ng-repeat="model in $data">
                        <td>
                            <span class="activity">
                                <a href="#/tweets/edit/{{ ::model._id }}">{{ ::model.Title|cut }}</a> on {{ ::model.Date|fullDate }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default activity" ng-if="articles.length">
        <div class="panel-heading">Other articles in the same date</div>
        <div class="panel-body">
            <table ng-table="tableOtherArticles" class="table operation">
                <thead></thead>
                <tbody>
                    <tr ng-repeat="model in $data">
                        <td>
                            <span class="activity">
                                <a href="#/{{ model.Type }}/detail/{{ model._id }}">{{ model.Title|cut }}<a/> ({{ model.Type }}) on {{ model.Date|fullDate }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default activity" ng-if="prevs.length">
        <div class="panel-heading">Near prevs</div>
        <div class="panel-body">
            <table ng-table="tablePrevs" class="table operation">
                <thead>
                </thead>
                <tbody>
                    <tr ng-repeat="model in $data">
                        <td>
                            <span class="activity">
                                <a href="#/news/detail/{{ model._id }}">{{ model.Title|cut }}</a> on {{ model.Date|fullDate }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default activity" ng-if="nexts.length">
        <div class="panel-heading">Near nexts</div>
        <div class="panel-body">
            <table ng-table="tableNexts" class="table operation">
                <thead></thead>
                <tbody>
                    <tr ng-repeat="model in $data">
                        <td>
                            <span class="activity">
                                <a href="#/news/detail/{{ model._id }}">{{ model.Title|cut }}</a> on {{ model.Date|fullDate }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>