bin
*.cab
.AppleDB
obj
# =========================
# OSX
.Trashes
Thumbs.db
.AppleDouble
# Windows shortcuts
# Windows image file caches
# Thumbnails
ehthumbs.db
# Operating System Files
/node_modules
.user
# Folder config file
Temporary Items
# Parany ignore list
Desktop.ini
.DS_Store
$RECYCLE.BIN/
.apdisk
# Recycle Bin used on file shares
.Spotlight-V100
Network Trash Folder
.ntvs_analysis.dat
# Files that might appear on external disk
*.msm
.AppleDesktop
*.lnk
*.msi
# Directories potentially created on remote AFP share
packages
.v12.suo
.ntvs_analysis.dat.tmp
.LSOverride
# Windows Installer files
.csproj.user
*.msp
._*
node_modules
logs

# Star config files
public/app/config/config.js
server/config/config.json
server/config/db.json
npm-debug.log
public/index.html

# dist (gulp output)
dist/

#heapdump
snapshot/

#webstorm configs
public/.idea/
server/.idea/

public/vendor/bower_components
server/typings
