Temporary Items
bin
.AppleDB
# Directories potentially created on remote AFP share
obj
# OSX
ehthumbs.db
*.lnk
# Operating System Files
.AppleDouble
Network Trash Folder
$RECYCLE.BIN/
# Windows shortcuts
*.cab
# Parany ignore list
.ntvs_analysis.dat
.v12.suo
# Files that might appear on external disk
# Windows Installer files
.AppleDesktop
Thumbs.db
# Recycle Bin used on file shares
# Folder config file
*.msm
*.msi
.user
/node_modules
*.msp
# =========================
.Trashes
.apdisk
.LSOverride
.Spotlight-V100
Desktop.ini
.DS_Store
# Windows image file caches
packages
._*
.csproj.user
# Thumbnails
.ntvs_analysis.dat.tmp