<div class="col-md-3" id="read-nav">
    <form class="form-horizontal" name="editAgenda">
        <div class="form-group">
            <div>
                <input type="date" placeholder="Date" class="form-control" ng-model="Date" ng-change="changeDate()" required>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="text" placeholder="Title" class="form-control" ng-model="agenda.Title" required>
            </div>
        </div>
        <div>
            <p ng-show="data.length > 0"><strong>Already in this date: </strong></p>
            <table ng-table="tableParams" class="table ng-table-rowselected">
                <thead>
                </thead>
                <tbody>
                    <tr ng-repeat="model in $data">
                        <td><span>{{ ::model.Title }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button type="submit" class="btn btn-success" ng-click="save()" ng-disabled="editAgenda.$invalid || agenda.Text == ''">
                Save
            </button>
            &nbsp;
            <a class="btn btn-default" ng-href="/#/agendas/detail/{{ id }}">Cancel</a>
        </div>
    </form>
</div>
<div class="col-md-8">
    <div text-angular="" ng-model="agenda.Text" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around">
    </div>
</div>
