<div class="col-md-8" id="read-nav">
    <form class="form-horizontal" name="addNote">
        <div class="form-group">
            <input type="text" placeholder="Description" class="form-control" ng-model="Description" required>
        </div>
        <div class="form-group">
            <div text-angular=""
                 ng-model="Content"
                 name="demo-editor"
                 ta-text-editor-class="border-around"
                 ta-html-editor-class="border-around">
            </div>
        </div>
        <div class="btn-group" data-toggle="buttons">
            <label ng-repeat="tag in tags" class="btn btn-primary" ng-click="tag.Selected = !tag.Selected;">
                <input type="checkbox"> {{ tag.Description }}
            </label>
        </div>
        <div>
            <br />
            <button type="submit" class="btn btn-success" ng-click="save()" ng-disabled="addNote.$invalid || !valid();">Save</button>
            &nbsp;
            <a class="btn btn-default" ng-href="#/">Cancel</a>
        </div>
    </form>
</div>

<div class="col-md-4">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-target="#tab-related" data-toggle="tab" href="">Related</a>
        </li>
        <li>
            <a data-target="#tab-dico" data-toggle="tab" href="">Dico</a>
        </li>
        <li>
            <a data-target="#tab-explication" data-toggle="tab" href="">Explication</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-related">
            <p>This is the page content for Tab Pa fqds fds fdqfs fds fsf ge 2</p>
        </div>
        <div class="tab-pane" id="tab-dico">
            <p>This fdffffffffdf sdq fdsqf dsqf fqsd fdsqf dsfq ffffff</p>
        </div>
        <div class="tab-pane" id="tab-explication">
            <p>zz zzz z dkfjqmsdklddddd dd</p>
        </div>
    </div>

</div>
