<div class="col-md-3" id="read-nav">
    <form class="form-horizontal" name="addTreaty">
        <div class="form-group">
            <div>
                <input type="date"
                       placeholder="Date"
                       class="form-control"
                       ng-model="Date"
                       required>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="text"
                       placeholder="Title"
                       class="form-control"
                       ng-model="treaty.Title"
                       required>
            </div>
        </div>
        <div>
            <p ng-show="data.length > 0"><strong>Already in this date: </strong></p>
            <table ng-table="tableParams" class="table ng-table-rowselected">
                <thead>
                </thead>
                <tbody>
                    <tr ng-repeat="model in $data">
                        <td><span>{{ model.Title }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button type="submit"
                    class="btn btn-success"
                    ng-click="save()"
                    ng-disabled="!valid()">
                Save
            </button>
            &nbsp;
            <a class="btn btn-default" ng-href="#/treaty">Cancel</a>
        </div>
    </form>
</div>

<div class="col-md-8">
    <div text-angular=""
         ng-model="treaty.Text"
         name="demo-editor"
         ta-text-editor-class="border-around"
         ta-html-editor-class="border-around">
    </div>
    <div class="btn-group" data-toggle="buttons">
        <label  ng-repeat="tag in tags" 
                class="btn btn-primary" 
                ng-click="tag.Selected = !tag.Selected;"
                ng-class="{ active: tag.IsSelected }">
            <input type="checkbox"> {{ tag.Description }}
        </label>
    </div>
</div>