<div class="col-md-8">
    <h3 style="text-align: center;">{{ treaty.Title }}</h3>
    <div ng-bind-html="treaty.Text"></div>
    <div class="treaty-badge">
        <span ng-repeat="tag in treaty.TagIdList"><span class="badge">{{ tag }}</span>&nbsp;</span>
    </div>

     <form class="form-horizontal">
        <div class="btn-left">
            <a class="btn btn-default" ng-href="#/treaty/list">Back</a>
        </div>
        <div class="btn-right">
            <a class="btn btn-primary" ng-click="promptDelete(treaty)">Delete</a>
            <a class="btn btn-success" ng-href="#/treaty/edit/{{ treaty._id }}" ng-disabled="treaty._id == undefined">Save</a>
        </div>
    </form>
</div>

<div class="col-md-2">
</div>