<div class="row" id="header-top">
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/#/">
                        Star
                    </a>
                </div>
                <div id="navbarCollapse" class="collapse navbar-collapse" ng-if="isLoggedIn">
                    <ul class="nav navbar-nav">
                        <li id="read" class="dropdown" ng-class="read ? 'active': ''">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">read<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a ng-href="#/">Home</a>
                                </li>
                                <li>
                                    <a ng-href="#/notes">Notes</a>
                                </li>
                                <li>
                                    <a ng-href="#/relatedverses">Related verses</a>
                                </li>
                            </ul>
                        </li>
                        <li id="agenda" class="dropdown" ng-class="agenda ? 'active': ''">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">agenda<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a ng-href="#/agendas">Home</a>
                                </li>
                                <li>
                                    <a ng-href="#/agendas/add">Add</a>
                                </li>
                            </ul>
                        </li>
                        <li id="explication" class="dropdown" ng-class="explication ? 'active' : ''">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">Explication<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a ng-href="#/explications">Home</a>
                                </li>
                                <li>
                                    <a ng-href="#/explications/add">Add</a>
                                </li>
                            </ul>
                        </li>
                        <li id="treaty" class="dropdown" ng-class="treaty ? 'active': ''">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">treaty<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a ng-href="#/treaties">Home</a>
                                </li>
                                <li>
                                    <a ng-href="#/treaties/add">Add</a>
                                </li>
                            </ul>
                        </li>
                        <li id="new" class="dropdown" ng-class="new ? 'active' : ''">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">new<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a ng-href="#/news">Home</a>
                                </li>
                                <li>
                                    <a ng-href="#/news/add">Add</a>
                                </li>
                            </ul>
                        </li>
                        <li id="tweet" class="dropdown" ng-class="tweet ? 'active' : ''">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">tweet<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a ng-href="#/tweets">Home</a>
                                </li>
                                <li>
                                    <a ng-href="#/tweets/add">Add</a>
                                </li>
                            </ul>
                        </li>
                        <li id="dico" class="dropdown" ng-class="dico ? 'active' : ''">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">Dico<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a ng-href="#/dicos">Home</a>
                                </li>
                                <li>
                                    <a ng-href="#/dicos/add">Add</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <notification></notification>
                        <li id="account" class="dropdown" ng-class="account ? 'active' : ''">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">{{ ::fullName }}<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a href="#/activities">Activities</a>
                                </li>
                                <li>
                                    <a href="#">Parameters</a>
                                </li>
                                <li>
                                    <a ng-click="logout()">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
