<div class="row" id="header-top">
    <div class="col-md-2">
        <img src="/Images/star.png" width="75px" />
    </div>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header"></div>
                <div id="navbarCollapse" class="collapse navbar-collapse" ng-if="isLoggedIn">
                    <ul class="nav navbar-nav">
                        <li id="read" class="dropdown active">
                            <a data-toggle="dropdown" class="dropdown-toggle" ng-href="#/">read<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a ng-href="#/notes">Notes</a>
                                </li>
                                <li>
                                    <a ng-href="#/relatedverses">Related verses</a>
                                </li>
                            </ul>
                        </li>
                        <li id="agenda" class="dropdown active">
                            <a data-toggle="dropdown" class="dropdown-toggle" ng-href="#/agendas">agenda<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a ng-href="#/agendas/add">Add</a>
                                </li>
                            </ul>
                        </li>
                        <li id="explication">
                            <a ng-href="#/explication">explication</a>
                        </li>
                        <li id="treaty" class="dropdown active">
                            <a data-toggle="dropdown" class="dropdown-toggle" ng-href="#/treaties">treaty<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a ng-href="#/treaties/add">Add</a>
                                </li>
                            </ul>
                        </li>
                        <li id="new">
                            <a ng-href="#/new">new</a>
                        </li>
                        <li id="dico">
                            <a ng-href="#/dicos">dico</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="account">
                        <li>
                            <a href="#">{{ fullName }}</a>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">notifications(6)<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a href="#">new commentary(2)</a>
                                </li>
                                <li>
                                    <a href="#">commentary replay(2)</a>
                                </li>
                                <li>
                                    <a href="#">like(2)</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">history</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>