<div class="col-md-3" id="read-nav">
    <form class="form-horizontal" name="addNew">
        <div class="form-group">
            <div>
                <input type="date"
                       placeholder="Date"
                       class="form-control"
                       ng-model="new.Date"
                       required>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="text"
                       placeholder="Title"
                       class="form-control"
                       ng-model="new.Title"
                       required>
            </div>
        </div>
        <div>
            <p ng-show="news.length > 0"><strong>Already in this date: </strong></p>
            <table ng-table="tableNews" class="table ng-table-rowselected">
                <thead>
                </thead>
                <tbody>
                    <tr ng-repeat="model in $data">
                        <td><span>{{ model.Title }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button type="submit"
                    class="btn btn-success"
                    ng-click="save()"
                    ng-disabled="addNew.$invalid || !valid()">
                Save
            </button>
            &nbsp;
            <a class="btn btn-default" ng-href="#/new">Cancel</a>
        </div>
    </form>
</div>

<div class="col-md-9">
    <h4>Content</h4>
    <div text-angular=""
         ng-model="new.Content"
         name="demo-editor"
         ta-text-editor-class="border-around"
         ta-html-editor-class="border-around">
    </div>
    <h4>Source</h4>
    <div class="form-group">
        <div class="form-group">
            <select class="form-control"
                    ng-model="new.Source"
                    ng-options="source.Description for source in sources"></select>
        </div>
    </div>

    <h4>Citations</h4>
    <textarea rows="4" class="col-md-12" ng-model="citation"></textarea>
    <button type="submit"
            class="btn btn-success col-md-12"
            ng-click="addCitation(citation)">
        Add Citation
    </button>
    <table ng-table="tableCitations" class="table ng-table-rowselected">
        <thead>
        </thead>
        <tbody>
            <tr ng-repeat="citation in $data">
                <td>
                    <blockquote>
                        <p>{{ citation }}</p>
                    </blockquote>
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove" style="float: right;"
                          ng-click="removeCitation(citation)">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>